{% extends 'website/index.html' %}

{% block content %}
<div class="container">
    <table class="table" style="background: white;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Item</th>
            <th scope="col">Qty</th>
            <th scope="col">Date</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
            {% for i in data %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{i.name}}</td>
            <td>{{i.item}}</td>
            <td>{{i.qty}}</td>
            <td>{{i.datetime}}</td>
            <td>
                <a href="{% url 'update_req' i.id %}"><i class='bx bx-edit-alt'  ></i></a>
                <a href="{% url 'del_req' i.id %}" style="margin-left: 15px;"><i class='bx bx-trash'></i></a>

            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock content %}